/* Estilos globales */
body, html {
  height: 100%;
  margin: 0;
  background-color: #E9E8E8!important;
  font-family: 'Roboto', sans-serif;
}

/* Caja de login */
.login-box {
  background-color: #002f86;
  padding: 2.5rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 350px;
}

.login-box h3 {
  color: white;
  font-weight: bold;
}

/* Caja de registro */
.register-box {
  background-color: #002f86;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 350px;
}

.register-box h3 {
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* Formulario */
.form-label {
  color: white;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  border-radius: 1rem;
}

/* Botones */
.btn-outline-light {
  border: 1px solid white;
  color: white;
  font-weight: bold!important; 
}

.btn-outline-light:hover {
  background-color: white;
  color: #002f86;
}

.btn-custom {
  border: 1px solid white;
  background-color: white;
  color: #002f86;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
}

.btn-custom:hover {
  background-color: #dce3f1;
  color: #002f86;
}

/* Contenedores y secciones */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.info-text h3 {
  font-weight: bold;
  color: #002f86;
}

.info-text p {
  font-size: 0.9rem;
  color: #333;
}

.register-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 2rem;
}

.back-arrow {
  font-size: 3rem;
  color: #002f86;
  text-decoration: none;
}

.europe-icon {
  width: 70px;
  height: auto;
}
/*INDEX.PHP*/

    .indexStencil {
        width: 290px;
        height: 895px;
        background: #072989;
    }

    .bg-mi-color {
        background-color: #072989;
        color: white;
        border: 20px;
    }

    .stencil {
        display: flex;
        flex-direction: row;
    }

    .btns {
        gap: 55%;
        display: flex;
    }

    .contenedorTablaStencil {
        border-radius: 40px;
        background: #FFF;
        padding: 30px;
        width: 73%;
        height: 850px;
        display: flex;
        align-self: center;
        flex-direction: column;
        margin-left: 20px;
    }

    .stencilBody {
        background-color: #E6E6E6;
    }

    .cajaArchivos {
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: center;
        gap: 50px;
    }

    .footerNaV {
        color: #FFF;
        font-family: "Instrument Sans";
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        position: absolute;
        bottom: 40px;
        left: 4%;
    }

    .tituloNIS {
        color: #FFF;
        font-family: "Instrument Sans";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 70px;
        text-align: center;
    }

    .menuNav {
        margin-top: 70px;
        gap: 50px;
        display: flex;
        flex-direction: column;
    }
    .headertable{
        margin-top:100px;
    }
    .imgEmpresa{
        position: absolute;
        bottom: 50px;
        border-radius: 120px;
        width: 60px;
        height: auto;
    }