/* Estilos globales */
body, html {
  height: 100%;
  margin: 0;
  background-color: #E9E8E8!important;
  font-family: 'Roboto', sans-serif;
}

h4{
  color: #FFFFFF!important;
  text-align: center;
  padding: 20px;
}

.btnsNav{
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-right: 50px;
}

/* LOGIN.PHP Y REGISTRO.PHP */
/* Caja de auth */
.auth-box {
  background-color: #002f86;
  padding: 2.5rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 350px;
}

.auth-box h3 {
  color: white;
  font-weight: bold;
}
.tituloNIS {
  color: #FFF;
  font-family: "Instrument Sans";
  font-size: 36px;
  font-weight: 700;
  margin-top: 70px;
  text-align: center;
}

/* Formulario */
.form-label {
  color: white;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  border-radius: 1rem;
}

/* Botones */
.btn-outline-light {
  border: 1px solid white;
  color: white;
  font-weight: bold!important; 
}
.btn-outline-light:hover {
  background-color: white;
  color: #002f86;
  border: 1px solid #002f86;
}

.back-arrow {
  font-size: 3rem;
  color: #002f86;
  text-decoration: none;
}

/* Contenedores y secciones */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info-text h3 {
  font-weight: bold;
  color: #002f86;
}

.info-text p {
  font-size: 0.9rem;
  color: #333;
}

.register-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 2rem;
}
.europe-icon{
  width: 70px;
}

/*INDEX.PHP*/
.homeIndex {
  border-radius: 10px;
  background: #072989;
  width: 1000px;
  height: 610px;
  flex-shrink: 0;
  margin-left: 70px;
  padding: 30px;
}

.subtitulo-index{
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.introIndex {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: wrap;
  color: #FFF;
  font-family: "Instrument Sans";
  font-size: 16px;
  gap: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 843px;
}

.tituloIndice {
  color: #5E5E5E;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.indexNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 370px;
  margin-left: 70px;
}

.auth-btn {
  display: inline-block;
  text-decoration: none;
  color: #002f86;
  border: 2px solid #002f86;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.auth-btn:hover {
  background: #002f86;
  color: white;
}

.candadito {
  width: 200px;
  height: auto;
}

.funcionesIndex{
  border: 0.5px solid white;
  border-radius: 20px;
  padding: 20px;
}

/* PLANTILLAUSERS.PHP */
.indexStencil {
  width: 290px;
  height: 895px;
  background: #072989;
}

.stencil {
  display: flex;
  flex-direction: row;
}

.contenedorTablaStencil {
  border-radius: 40px;
  background: #FFF;
  padding: 30px;
  width: 73%;
  height: 850px;
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-left: 20px;
}

.stencilBody {
  background-color: #E6E6E6;
}

.cajaArchivos {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  gap: 50px;
}

.footerNaV {
  color: #FFF;
  font-family: "Instrument Sans";
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  bottom: 40px;
}

.footerNaV form{
  padding: 20px;
}

.tituloNIS {
  color: #FFF;
  font-family: "Instrument Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 70px;
  text-align: center;
}

.menuNav {
  margin-top: 70px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgEmpresa{
  position: absolute;
  bottom: 50px;
  border-radius: 120px;
  width: 60px;
}

.bg-mi-color {
  background-color: #072989;
  color: white;
  border-radius: 40px;
}

.btnUser{
  background:none;
  color: white;
  border:none;
}

.logout{
  border: 1px solid white;
  border-radius:10px;
  padding: 3px 10px;
}
